.Home {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.acticle {
  position: relative;
  display: block;
  width: 100%;
  height: min(56.25vw, 1080px);
  overflow: hidden;

  &::after {
    position: absolute;
    bottom: calc(1px - min(3.6458333333vw, 70px));
    z-index: 0;
    width: 100%;
    height: min(7.2916666667vw, 140px);
    pointer-events: none;
    content: "";
    background: url("https://www.streetfighter.com/6/assets/images/common/line_glow.png")
      repeat-x;
    background-size: auto 100%;
  }
}

.section {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: min(56.25vw, 1080px);
}

.main {
  position: absolute;
  top: min(33.8541666667vw, 650px);
  left: calc(50% - min(22.3958333333vw, 430px));
  opacity: 1;
  transform: translate(-50%);
}

.main_ul1 {
  position: relative;
  display: flex;
  align-items: center;
  padding: min(0.9375vw, 18px) 0 min(1.40625vw, 27px);
  list-style: none;
  opacity: 0.8;

  li {
    position: relative;
    width: min(5.9895833333vw, 115px);
    padding: 0;
    margin: 0 min(0.78125vw, 15px) 0 0;
    border: 0;

    span {
      position: relative;
      box-sizing: border-box;
      display: block !important;
      width: initial;
      max-width: 100%;
      height: initial;
      padding: 0;
      margin: 0;
      overflow: hidden;
      background: none;
      border: 0;
      opacity: 1;

      img {
        inset: 0;
        box-sizing: border-box;
        display: block;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        padding: 0;
        margin: auto;
        border: none;
      }
    }
  }
}

.steam {
  width: min(4.4270833333vw, 85px) !important;
}

.main_ul2 {
  position: relative;
  display: flex;
  margin: min(0.3125vw, 6px) 0 min(2.0833333333vw, 40px);
  list-style: none;
}

.main_ul2_li {
  padding: 0;
  margin: 0;
  border: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(8.8541666667vw, 170px);
    height: min(1.8229166667vw, 35px);
    color: hsl(0deg 0% 100% / 70%);
    text-decoration: none;
    background: linear-gradient(
      90deg,
      hsl(0deg 0% 100% / 0%),
      hsl(0deg 0% 100% / 0%) 50%,
      hsl(0deg 0% 100% / 0%)
    );
    border-right: 1px solid hsl(0deg 0% 100% / 30%);
    border-left: 1px solid hsl(0deg 0% 100% / 30%);
    transition: all 0.3s;

    span {
      position: relative;
      display: flex;
      align-items: center;
      font-family: Oswald, sans-serif;
      font-size: min(0.7291666667vw, 14px);
      letter-spacing: 0.1em;

      &::before {
        display: inline-block;
        width: min(1.3020833333vw, 25px);
        height: min(1.3020833333vw, 25px);
        margin: 0 min(0.5208333333vw, 10px) 0 0;
        content: "";
        background: url("https://www.streetfighter.com/6/assets/images/common/icon_letter.svg")
          no-repeat 0;
        background-size: 100%;
        opacity: 0.7;
      }
    }
  }
}

.xbox {
  width: min(8.8541666667vw, 170px) !important;
}

.main_ul2_li2 {
  padding: 0;
  margin: 0;
  border: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(8.8541666667vw, 170px);
    height: min(1.8229166667vw, 35px);
    color: hsl(0deg 0% 100% / 70%);
    text-decoration: none;
    list-style: none;
    background: linear-gradient(
      90deg,
      hsl(0deg 0% 100% / 0%),
      hsl(0deg 0% 100% / 0%) 50%,
      hsl(0deg 0% 100% / 0%)
    );
    border-right: 1px solid hsl(0deg 0% 100% / 30%);
    border-left: 1px solid hsl(0deg 0% 100% / 30%);
    transition: all 0.3s;

    span {
      position: relative;
      display: flex;
      align-items: center;
      font-family: Oswald, sans-serif;
      font-size: min(0.7291666667vw, 14px);
      color: hsl(0deg 0% 100% / 70%);
      letter-spacing: 0.1em;

      &::before {
        display: inline-block;
        width: min(0.9375vw, 18px);
        height: min(0.9375vw, 18px);
        margin: 0 min(0.5208333333vw, 10px) 0 0;
        content: "";
        background: url("https://www.streetfighter.com/6/assets/images/common/icon_twitter.svg")
          no-repeat 0;
        background-size: 100%;
        opacity: 0.7;
      }
    }
  }
}

.main_div {
  padding: 0;
  margin: 0;
  border: 0;
  transition: opacity 0.3s;

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(23.9583333333vw, 460px);
    height: min(4.1666666667vw, 80px);
    color: #ffffff;
    text-decoration: none;
    background: linear-gradient(
      90deg,
      #ce2dcd,
      #370587 20%,
      #370587 80%,
      #ce2dcd
    );
    border: min(0.1041666667vw, 2px) solid #ffffff;
    border-image: linear-gradient(
      90deg,
      #fcfbfd,
      #9046a6 30%,
      #9046a6 70%,
      #fcfbfd
    );
    border-image-slice: 1;
    box-shadow: 0 0 min(1.0416666667vw, 20px) #8c41a2;

    &::after {
      position: absolute;
      top: 50%;
      right: min(0.78125vw, 15px);
      display: block;
      width: min(1.9791666667vw, 38px);
      height: min(4.0625vw, 78px);
      content: "";
      background: url("https://www.streetfighter.com/6/assets/images/index/notice/notice_link_icon.png")
        no-repeat 50%/100%;
      transform: translateY(-50%);
    }
  }
}

.main_div_p {
  width: min(7.8125vw, 150px);
  height: min(1.6666666667vw, 32px);
  margin: 0 min(1.5625vw, 30px) 0 min(2.6041666667vw, 50px);
  font-size: min(0.7291666667vw, 14px);
  font-weight: 700;
  color: #e086ff;
  letter-spacing: 0.1em;
  filter: drop-shadow(0 0 min(0.2604166667vw, 5px) #8c41a2)
    drop-shadow(0 0 min(0.5208333333vw, 10px) #8c41a2);

  svg {
    height: min(1.71875vw, 33px);
    overflow: hidden;
    fill: #ffffff;
    stroke: none;
    overflow-clip-margin: content-box;
  }
}

.main_div_p2 {
  width: min(7.8125vw, 150px);
  margin: 0 min(4.1666666667vw, 80px) 0 0;
  font-size: min(0.7291666667vw, 14px);
  font-weight: 700;
  color: #e086ff;
  text-align: right;
  letter-spacing: 0.1em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.patch {
  position: absolute;
  top: min(6.7708333333vw, 130px);
  left: calc(50% - min(46.3541666667vw, 890px));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(9.1145833333vw, 175px);
  height: min(11.1979166667vw, 215px);
  padding: min(3.3854166667vw, 65px) min(1.5625vw, 30px)
    min(0.5208333333vw, 10px);
  background: url("https://www.streetfighter.com/6/assets/images/index/patch/patch_100.png")
    no-repeat;
  background-size: 100%;
  opacity: 1;
  transform: translate(0, 0);
  rotate: none;
  scale: none;
  translate: none;

  p {
    font-size: min(0.8333333333vw, 16px);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;

    span {
      font-family: Oswald, sans-serif;
    }
  }
}

.left {
  position: absolute;
  bottom: 0;
  left: calc(50% - min(48.4375vw, 930px));
  box-sizing: border-box;
  width: min(48.9583333333vw, 940px);
  padding: 0 min(6.7708333333vw, 130px);
  font-family: Oswald, sans-serif;
  font-size: min(0.8854166667vw, 17px);
  font-weight: 100;
  color: hsl(0deg 0% 100% / 70%);
  text-align: center;
  letter-spacing: min(0.4166666667vw, 8px);
  background: url("https://www.streetfighter.com/6/assets/images/index/icon_hexagon_purple.png")
    no-repeat 0 / min(1.4583333333vw, 28px),
    url("https://www.streetfighter.com/6/assets/images/index/icon_hexagon_purple.png")
    no-repeat 100% / min(1.4583333333vw, 28px);
  filter: drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(214 79 255 / 50%))
    drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(109 37 255 / 30%))
    drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(214 79 255 / 50%))
    drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(109 37 255 / 30%));
  opacity: 1;
  transform: rotate(-90deg);
  transform-origin: top left;
  rotate: none;
  scale: none;
  translate: none;

  &::before {
    position: absolute;
    top: 45%;
    left: min(0.9375vw, 18px);
    width: min(5.46875vw, 105px);
    height: 1px;
    content: "";
    background: #ffffff;
    opacity: 0.5;
    transform: translateY(50%);
  }

  &::after {
    position: absolute;
    top: 45%;
    right: min(0.9375vw, 18px);
    width: min(5.46875vw, 105px);
    height: 1px;
    content: "";
    background: #ffffff;
    opacity: 0.5;
    transform: translateY(50%);
  }

  span {
    font-size: 1.3vh;
    color: hsl(0deg 0% 100% / 70%);
    text-align: center;
    letter-spacing: min(0.4166666667vw, 8px);
  }
}

.right {
  position: absolute;
  top: min(5.9375vw, 114px);
  bottom: unset;
  left: calc(50% + min(48.4375vw, 930px));
  box-sizing: border-box;
  width: min(48.9583333333vw, 940px);
  padding: 0 min(6.7708333333vw, 130px);
  font-family: Oswald, sans-serif;
  font-size: min(0.8854166667vw, 17px);
  font-weight: 100;
  color: hsl(0deg 0% 100% / 70%);
  text-align: center;
  letter-spacing: min(0.4166666667vw, 8px);
  background: url("https://www.streetfighter.com/6/assets/images/index/icon_hexagon_purple.png")
    no-repeat 0 / min(1.4583333333vw, 28px),
    url("https://www.streetfighter.com/6/assets/images/index/icon_hexagon_purple.png")
    no-repeat 100% / min(1.4583333333vw, 28px);
  filter: drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(214 79 255 / 50%))
    drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(109 37 255 / 30%))
    drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(214 79 255 / 50%))
    drop-shadow(0 0 min(0.5208333333vw, 10px) rgb(109 37 255 / 30%));
  opacity: 1;
  transform: rotate(90deg);
  transform-origin: top left;
  rotate: none;
  scale: none;
  translate: none;

  &::before {
    position: absolute;
    top: 45%;
    left: min(0.9375vw, 18px);
    width: min(5.46875vw, 105px);
    height: 1px;
    content: "";
    background: #ffffff;
    opacity: 0.5;
    transform: translateY(50%);
  }

  &::after {
    position: absolute;
    top: 45%;
    right: min(0.9375vw, 18px);
    width: min(5.46875vw, 105px);
    height: 1px;
    content: "";
    background: #ffffff;
    opacity: 0.5;
    transform: translateY(50%);
  }

  span {
    font-size: 1.3vh;
    color: hsl(0deg 0% 100% / 70%);
    text-align: center;
    letter-spacing: min(0.4166666667vw, 8px);
  }
}

.notice {
  position: absolute;
  bottom: min(2.6041666667vw, 50px);
  left: calc(50% - min(37.5vw, 720px));
  color: #ffffff;
  opacity: 1;
  transform: translate(0, 0);
  rotate: none;
  scale: none;
  translate: none;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: min(0vw, 0px) min(0.8333333333vw, 16px);
    font-size: min(0.8333333333vw, 16px);
    font-weight: 700;
    color: #fedddc;
    text-shadow: 0 0 6px #000000;
    cursor: pointer;

    &::before {
      display: block;
      width: min(2.4479166667vw, 47px);
      height: min(2.0833333333vw, 40px);
      margin-right: min(0.5208333333vw, 10px);
      content: "";
      background: url("https://www.streetfighter.com/6/assets/images/index/notice/notice_icon.png")
        no-repeat 50%/90%;
    }

    &::after {
      display: block;
      width: min(1.9791666667vw, 38px);
      height: min(4.0625vw, 78px);
      margin-left: min(0.5208333333vw, 10px);
      content: "";
      background: url("https://www.streetfighter.com/6/assets/images/index/notice/notice_link_icon2.png")
        no-repeat 50%/40%;
    }

    span {
      position: relative;
      font-size: 1.3vh;
      color: #fedddc;
      text-shadow: 0 0 6px #000000;
      cursor: pointer;

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        background: #fedddc;
      }
    }
  }
}

.camp {
  position: absolute;
  top: min(6.7708333333vw, 130px);
  left: calc(50% + min(34.375vw, 660px));
  width: min(12.5vw, 240px);
  height: min(12.5vw, 240px);
  text-align: center;
  background: url("https://www.streetfighter.com/6/assets/images/index/patch_bbc.png")
    no-repeat 50%/100%;
  opacity: 1;
  transition: filter 0.3s;
  transform: translate(0, 0);
  rotate: none;
  scale: none;
  translate: none;

  a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: min(5.7291666667vw, 110px) 0 0;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
  }
}

.camp_p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(8.8541666667vw, 170px);
  height: min(3.125vw, 60px);
  margin: 0 auto;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 0 min(0.5208333333vw, 10px) #25afff,
    0 0 min(0.5208333333vw, 10px) #25afff;
  transform: skewX(-10deg);

  span {
    display: block;
    font-size: min(1.25vw, 24px);
    line-height: 1;
    text-align: center;
    text-shadow: 0 0 min(0.5208333333vw, 10px) #25afff,
      0 0 min(0.5208333333vw, 10px) #25afff;
  }
}

.camp_p2 {
  position: absolute;
  bottom: min(2.03125vw, 39px);
  left: 50%;
  font-family: Oswald, sans-serif;
  font-size: min(1.25vw, 24px);
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 0 min(0.2604166667vw, 5px) rgb(0 0 0 / 50%);
  transform: skewX(-10deg) translateX(-50%);

  span {
    padding: 0;
    margin: 0;
    text-align: center;
    text-shadow: 0 0 min(0.2604166667vw, 5px) rgb(0 0 0 / 50%);
    border: 0;
  }
}

.section2 {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  display: block;
  width: min(100vw, 1920px);
  height: min(56.25vw, 1080px);
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: #000000;
  border: 0;
  transform: translate(-50%);

  h1 {
    position: absolute;
    bottom: min(21.875vw, 420px);
    left: calc(50% - min(38.0208333333vw, 730px));
    z-index: 1;
    width: min(46.875vw, 900px);
    opacity: 1;
    transform: translate(0, 0);
    rotate: none;
    scale: none;
    translate: none;

    img {
      width: 100%;
      height: auto;
    }
  }

  div {
    width: min(100vw, 1920px);
    height: min(56.25vw, 1080px);
    background: url("https://www.streetfighter.com/6/assets/images/index/image_mv_1.jpg")
      no-repeat top/contain;
    opacity: 1;
    transform: translate(0, 0);
    rotate: none;
    scale: none;
    translate: none;
  }
}

.acticle2 {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: 0;
}

.Rashid {
  position: relative;
  display: block;
  width: 50%;
  height: min(32.0833333333vw, 616px);
  background: url("https://www.streetfighter.com/6/assets/images/index/aki/bg_rashid.jpg")
    no-repeat 100% 0;
  background-size: auto 100%;
}

.Rashid_div {
  position: absolute;
  top: min(6.7708333333vw, 130px);
  right: min(3.6458333333vw, 70px);
  box-sizing: border-box;
  width: min(22.9166666667vw, 440px);

  h2 {
    width: min(22.9166666667vw, 440px);

    svg {
      filter: drop-shadow(
        min(0.2083333333vw, 4px) min(0.2083333333vw, 4px) 0 #ab590d
      )
        drop-shadow(0 0 min(0.8333333333vw, 16px) rgb(0 0 0 / 30%));
      fill: #ffffff;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: calc(1px - min(0.5208333333vw, 10px)) 0 min(0.2604166667vw, 5px);
      line-height: 1;

      &::before {
        width: 100%;
        height: min(0.2604166667vw, 5px);
        margin: 0 min(0.78125vw, 15px);
        content: "";
        background: #ffffff;
        box-shadow: min(0.2083333333vw, 4px) min(0.2083333333vw, 4px) 0 #ab590d,
          0 0 min(0.8333333333vw, 16px) rgb(0 0 0 / 30%);
      }
    }
  }
}

.Rashid_p {
  font-family: Oswald, sans-serif;
  font-size: min(5.625vw, 108px);
  font-style: italic;
  font-weight: 500;
  line-height: 1;
  color: #fff155;
  text-align: left;
  text-shadow: min(0.2083333333vw, 4px) min(0.2083333333vw, 4px) 0 #ab590d,
    0 0 min(0.8333333333vw, 16px) rgb(0 0 0 / 30%);
  white-space: nowrap;
}

.Rashid_p2 {
  position: absolute;
  top: min(16.40625vw, 315px);
  left: 50%;
  transform: translateX(-50%);

  a {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(15.625vw, 300px);
    height: min(2.7083333333vw, 52px);
    margin: min(2.8645833333vw, 55px) 0 0;
    clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 25%);
    font-family: Oswald, sans-serif;
    font-size: min(1.3541666667vw, 26px);
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    background: #ffffff;
    transition: all 0.3s ease-out;
  }
}

.Aki {
  position: relative;
  display: block;
  width: 50%;
  height: min(32.0833333333vw, 616px);
  background: url("https://www.streetfighter.com/6/assets/images/index/aki/bg_aki_pre.jpg")
    no-repeat 0 0;
  background-size: auto 100%;

  p {
    a {
      position: relative;
      top: min(26.0416666667vw, 500px);
      left: min(27.6041666667vw, 530px);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: min(15.625vw, 300px);
      height: min(2.7083333333vw, 52px);
      clip-path: polygon(5% 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0 25%);
      font-family: Oswald, sans-serif;
      font-size: min(1.3541666667vw, 26px);
      font-weight: 700;
      color: #000000;
      text-decoration: none;
      cursor: pointer;
      background: #ffffff;
      transition: all 0.3s ease-out;
    }
  }
}
